.page-title {
    margin-bottom: 40px;
    text-align: center;
}

.page-title h1{
    font-size: 45px;
    color: #d946ef;
}

.page-title p{
    color: #d4d8dd;
}

.about-section {
    display: flex;
    align-items: center;
    gap: 40px;
}

.photo-box {
    width: 300px;
    height: 300px;
}

.photo-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 250px;
}

.about-text {
    flex: 1;
}

.about-text p {
    line-height: 1.6;
    color: #d4d8dd;
}